doctype html
html

    head 
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="renderer" content="webkit")
        title 笨虎导航站后台
        link(rel='stylesheet', href='/css/main.css')
        
    body
        div(id='app')
        script(src="/js/main.js")
